{% extends 'main/base.html' %}

{% block title %}Success | {% endblock %}
{% block content %}
  <div class="container mt-6">
    <h1 class="title text-center is-size-1 py-4 px-3" style="font-weight: bold; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.233)">Hvala na Poverenju!</h1>
    <h4 class="text-center is-size-2 pb-5 px-3"  style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274)">Vaša porudzbina je prosledjena.</h4>
    <h4 class="text-center is-size-4 py-4 px-3" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274)">Obavezno proverite na vašoj mail adresi <strong>"All-MAIL"</strong> i <strong>"SPUM"</strong> folder ukoliko niste dobili naš mail.</h4>
    
      <div class="counter" style="padding-top: 5%;">
       <div class="row-flex d-flex justify-content-center">
          
       </div>
        </div>
  
  </div>
</div>


<script>
  /*
  const sec = document.querySelector(".counterN");
  let countDown = 60;
  let result = 0;
  const orderMessage = "Odbijeno"
  redirect = false;
  setInterval(() => {
      countDown--
      sec.innerHTML = countDown;
      if(countDown < 0 )
      {
        sec.innerHTML = orderMessage;
        window.location.href = "http://127.0.0.1:8000/cart/rejected/";
        redirect = true
      }
      
  }, 1000);*/
</script>
{% endblock %}