{% extends 'main/base.html' %}

{% block title %}Success | {% endblock %}

{% block content %}
  <div class="container mt-6">
    <h1 class="title text-center is-size-1  mt-4 px-3" style="font-weight: bold;">Objekat je odbio vašu porudzbinu!</h1>
    <h2 class="text-center is-size-4 pb-3 px-3">Naš tim vam stoji na raspolaganju od 08-00h do 01:00h</h2>
    <h4 class="text-center is-size-4 px-3">Pokušajte ponovo ili nazovite našu podršku na broj :</h4> <br>
    <h4 class="text-center is-size-3 px-3"> <strong>064 000 00 00</strong> </h4>
    <h4 class="text-center is-size-3 px-3"> <strong>064 000 00 01</strong> </h4>
    <h4 class="text-center is-size-3 px-3"> <strong>064 000 00 02</strong> </h4>
    <div class="box py-6 " style="justify-content: center; display: flex; align-items: center;">
        <img style="height: 30vh; " src="https://cdn.pixabay.com/photo/2014/03/25/15/19/cross-296507_960_720.png" alt="">
    </div>
  </div>
{% endblock %}