{% extends 'main/base.html' %}

{% block title %}Success | {% endblock %}

{% block content %}
  <div class="container mt-6">
    <h1 class="title text-center is-size-1 py-4 px-3" style="font-weight: bold;">Hvala na Poverenju!</h1>
    <h4 class="text-center is-size-4 px-3">Vaša porudzbina je <strong>PRIHVAĆENA</strong> </h4>
    <h2 class="text-center is-size-4 py-3 px-3">Očekivano vreme za isporuku </h2>
    <h2 class="text-center is-size-2 my-4">45 do 60 min.</h2>
    <div class="box py-6 " style="justify-content: center; display: flex; align-items: center;">
        <img style="height: 30vh; " src="https://cdn.pixabay.com/photo/2014/04/02/10/40/check-304167_960_720.png" alt="">
    </div>
  </div>
{% endblock %}